.btn-group {
  width: 100%;
  height: auto;
  background-color: rgb(83, 191, 238);
  color: white;
  text-align: center;
}

.btn-group button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgb(50, 67, 222);
  border-radius: 8px;
}